body {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    width: 100%;
    background: tomato;
}

.left {
    height: 500px;
    width: 50%;
    background-color: aquamarine;
    float: left;
}

.right {
    height: 500px;
    width: 50%;
    background-color: beige;
    float: right;
}

.footer {
    height: 100px;
    width: 100%;
    background: tomato;
}
