.cont {
    background-color: rgb(84, 64, 82);
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: violet;

}

.am {
    color: blue;
}

.learning {
    color: green;
}

.css {
    color: orange;
}

.cont:hover {

    background-color: rgb(113, 80, 110);
    height: 255px;
    width: 255px;
    font-size: 19px;
}